<p-toast></p-toast>
<div class="grid p-fluid">
    <div class="p-2">
        <div class="flex items-center mt-3">
            <div class="justify-content-start mr-5">
                <button routerLink="/sender" pButton pRipple type="button" icon="pi pi-arrow-left"
                        class="p-button-rounded p-button-outlined p-button-secondary"></button>
            </div>
            <h3 class="my-3 text-xl font-bold ">Shipping details</h3>
        </div>

        <div class="flex flex-col sm:flex-row justify-between items-start">
            <!-- SHIPPING DESCRIPTION -->
            <div class="sm:w-2/3 mb-2">
                <p class="text-xl font-bold my-2">{{ shipping!.package.name }}</p>
                <p class="py-1"><strong>Description: </strong> {{ shipping!.package.description }}</p>
                <p class="py-1"><strong>Value: </strong> $ {{ shipping!.package.value }}</p>
                <p class="py-1"><strong>Size: </strong> {{ shipping!.package.dimensions }}</p>
            </div>
            <!-- SHIPPING TRACKING -->
            <div class="sm:w-1/3 mb-2">
                <p class="text-xl font-bold my-2">Tracking</p>
                <ng-template [ngIf]="!shippingCompleted!">
                    <div class="p-card-content">

                        <div class="flex flex-col sm:flex-row justify-between items-start">
                            <div class="sm:w-2/3 mb-2 p-2">
                                <p class="py-1"><strong>Shipping state:</strong>
                                    <p-chip styleClass="ml-1"
                                            label="{{ shippingState!.childActivityInstances![0].activityName }}">
                                    </p-chip>
                                </p>

                                <p class="py-1"><strong>Activity ID:</strong>
                                    <u class="ml-2">{{ shippingState!.childActivityInstances![0].activityId }}</u>
                                </p>

                            </div>
                            <div class="sm:w-1/3 mb-2 p-2">

                                <ng-template
                                        [ngIf]="shippingState!.childActivityInstances![0].activityId! == 'ConfirmPackageOkTask'">

                                    <div class="flex items-end mt-5">
                                        <div class="justify-content-end w-min">
                                            <button (click)="onClickPkgOk(shipping!.id!)"
                                                    pButton pRipple type="button" label="Package OK"
                                                    class="p-button p-button-sm p-button-rounded p-button-success w-4"></button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>


                    </div>
                </ng-template>
                <ng-template [ngIf]="shippingCompleted!">
                    <div class="p-card-content">
                        <p class="py-1">Shipping state:
                            <p-chip styleClass="ml-2"
                                    label="Completed"></p-chip>
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row justify-between items-start">

            <!-- SHIPPING ORIGIN -->
            <div class="sm:w-1/3 mb-2">
                <h4 class="text-xl font-bold my-2">Origin</h4>
                <p class="py-1"><strong>From:</strong>
                    <p-chip label="{{shipping!.originAddress}}"></p-chip>
                </p>
                <p class="py-1"><strong>Sender:</strong>
                    {{ shipping!.sender!.firstName }} {{ shipping!.sender!.lastName }}</p>
                <p class="my-2"><strong>Mobile: </strong>{{ shipping!.sender!.phone }}</p>
                <p class="my-2"><strong>Username: </strong>{{ shipping!.sender!.username }}</p>
            </div>

            <!-- SHIPPING DESTINATION -->
            <div class="sm:w-1/3 mb-2">
                <h4 class="text-xl font-bold my-2">Destination</h4>
                <p class="py-1"><strong>To:</strong>
                    <p-chip label="{{shipping!.destinationAddress}}"></p-chip>
                </p>
                <p class="py-1"><strong>Recipient:</strong>
                    {{ shipping!.recipient!.firstName }} {{ shipping!.recipient!.lastName }}</p>
            </div>

            <!-- SELECTED OFFER -->
            <div class="sm:w-1/3 mb-2">
                <ng-template [ngIf]="!shipping!.selectedOfferId">
                    <ng-template [ngIf]="offers">
                        <h4 class="text-xl font-bold">Offers</h4>
                        <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="">
                            <div *ngFor="let offer of offers" class="p-card p-3">
                                <div class="flex justify-between items-start mt-3">
                                    <div class="sm:w-2/3">
                                        <p><strong>$ {{ offer.shippingCost }} - arrives
                                            in {{ offer.duration }}
                                            hours</strong></p>
                                        <p>Message: {{ offer.message }}</p>
                                    </div>
                                    <div class="sm:w-1/3 flex items-center justify-end">
                                        <div class="flex w-min">
                                            <button (click)="markOfferAsSelected(shipping!.id!, offer!.id!)"
                                                    pButton
                                                    pRipple type="button"
                                                    label="Accept"
                                                    class="p-button-rounded p-button-success p-button-sm"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-scrollPanel>
                    </ng-template>
                </ng-template>
                <ng-template [ngIf]="shipping!.selectedOfferId">
                    <h4 class="text-xl font-bold">Selected Offer</h4>
                    <div class="p-card-content">
                        <p class="py-1"><strong>Shipping cost:</strong> ${{ selectedOffer!.shippingCost }}</p>
                        <p class="py-1"><strong>ETA:</strong> {{ selectedOffer!.duration }} hours</p>
                        <p class="py-1">
                            <strong>Distributor:</strong> {{ selectedOffer!.distributor!.firstName }} {{ selectedOffer!.distributor!.lastName }}
                        </p>
                        <p class="ml-4 py-1">
                            <strong>Mobile: </strong>{{ selectedOffer!.distributor!.phone }} -
                            <strong>Username: </strong>{{ selectedOffer!.distributor!.username }}
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>