<div class="px-3">
    <div class="mb-8">
        <h3 class="text-3xl font-bold mb-4">My deliveries</h3>
        <a routerLink="requests"
           class="bg-green-500 text-white py-2 px-4 rounded-full text-sm hover:bg-green-600 transition">Pending
            requests</a>
    </div>


    <div class="overflow-x-auto">
        <table class="min-w-full border border-gray-100">
            <thead>
            <tr>
                <th scope="col" class="p-3"> #</th>
                <th scope="col" class="p-3"> Details</th>
                <th scope="col" class="p-3"> Origin</th>
                <th scope="col" class="p-3"> Destination</th>
                <th scope="col" class="p-3"> Pickup Time</th>
                <th scope="col" class="p-3"> Delivery Time</th>
                <th scope="col" class="p-3"> Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of requestsArr" class="hover:bg-gray-100 transition">
                <td class="p-3">{{ request.id }}</td>
                <td class="p-3">{{ request.details }}</td>
                <td class="p-3">{{ request.originAddress }}</td>
                <td class="p-3">{{ request.destinationAddress }}</td>
                <td class="p-3">{{ request.pickedUpAt }}</td>
                <td class="p-3">{{ request.deliveredAt }}</td>
                <td class="p-3">
                    <a routerLink="deliveries/{{request.id}}"
                       class="p-2 bg-green-500 text-white rounded-full text-sm hover:bg-green-600 transition">
                        <i class="pi pi-search"></i>
                    </a>
                </td>
            </tr>
            <tr *ngIf="!requestsArr.length">
                <td colspan="7" class="p-3 text-center">No deliveries found.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>