<div class="grid p-fluid px-3">
    <div class="flex items-center mt-3">
        <div class="justify-content-start mr-5">
            <button routerLink="/distributor" pButton pRipple type="button" icon="pi pi-arrow-left"
                    class="p-button-rounded p-button-outlined p-button-secondary"></button>
        </div>
        <h3 class="my-3 text-xl font-bold ">Pending shipping requests</h3>
    </div>

    <div class="overflow-x-auto mt-3">
        <table class="min-w-full border border-gray-100">
            <thead>
            <tr>
                <th scope="col" class="p-3"> #</th>
                <th scope="col" class="p-3"> Details</th>
                <th scope="col" class="p-3"> Origin</th>
                <th scope="col" class="p-3"> Destination</th>
                <th scope="col" class="p-3"> Pickup Time</th>
                <th scope="col" class="p-3"> Delivery Time</th>
                <th scope="col" class="p-3"> Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of pendingRequests" class="hover:bg-gray-100 transition">
                <td class="p-3">{{ request.id }}</td>
                <td class="p-3">{{ request.details }}</td>
                <td class="p-3">{{ request.originAddress }}</td>
                <td class="p-3">{{ request.destinationAddress }}</td>
                <td class="p-3">{{ request.pickedUpAt }}</td>
                <td class="p-3">{{ request.deliveredAt }}</td>
                <td class="p-3">
                    <a routerLink="{{request.id}}/offers/new"
                       class="p-2 bg-blue-500 text-white rounded-full text-sm hover:bg-blue-600 transition">Offer</a>
                </td>
            </tr>
            <tr *ngIf="!pendingRequests?.length">
                <td colspan="7" class="p-3 text-center">No pending deliveries found.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>