<p-toast></p-toast>
<div class="grid p-fluid px-3">
    <div class="flex items-center mt-3">
        <div class="justify-content-start mr-5">
            <button routerLink="/sender" pButton pRipple type="button" icon="pi pi-arrow-left"
                    class="p-button-rounded p-button-outlined p-button-secondary"></button>
        </div>
        <h3 class="my-3 text-xl font-bold ">New shipping request</h3>
    </div>
    <form class="" action="#" method="POST" (ngSubmit)="onSubmit(package, shipping)">
        <div class="mt-3">
            <h2 class="my-3 text-lg">Package details</h2>
            <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">

                <div class="sm:col-span-2">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-paperclip"></i></span>
                        <input required type="text" pInputText placeholder="What's in the package?"
                               [(ngModel)]="package.name" name="packageName">
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <div class="p-inputgroup">
                        <input required type="text" pInputText placeholder="Description"
                               [(ngModel)]="package.description" name="description">
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <div class="p-inputgroup">
                        <input required type="text" pInputText placeholder="Image url" [(ngModel)]="package.imageUrl" name="imageUrl">
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <p-dropdown [options]="dimensionsOpts"
                                [(ngModel)]="package.dimensions"
                                placeholder="Select a package size"
                                [showClear]=true
                                [required]=true name="dimensions"></p-dropdown>

                </div>
                <div class="sm:col-span-2">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">$</span>
                        <input required type="number" pInputText placeholder="Estimated monetary value"
                               [(ngModel)]="package.value" name="monetaryValue">
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-2">
            <h2 class="my-3 text-lg">Shipping details</h2>
            <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <div class="p-inputgroup">
                        <input required type="text" pInputText
                               placeholder="Details for distributor. Ex: fragile, handle with care."
                               [(ngModel)]="shipping.details" name="details">
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <div class="p-inputgroup">
                        <input required type="text" pInputText placeholder="Origin address"
                               [(ngModel)]="shipping.originAddress" name="originAddress">
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <div class="p-inputgroup">
                        <input required type="text" pInputText placeholder="Destination address"
                               [(ngModel)]="shipping.destinationAddress" name="destinationAddress">
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <div class="p-inputgroup">
                        <input required type="text" pInputText placeholder="Recipient's First Name"
                               [(ngModel)]="shipping.recipient.firstName" name="firstName">
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <div class="p-inputgroup">
                        <input required type="text" pInputText placeholder="Recipient's Last Name"
                               [(ngModel)]="shipping.recipient.lastName" name="lastName"
                        >
                    </div>
                </div>

            </div>

        </div>

        <div class="flex items-end mt-5">

            <div class="justify-content-end w-min">
                <button pButton pRipple
                        type="submit" label="Submit"
                        class="p-button p-button-rounded p-button-success"
                ></button>
            </div>
        </div>
    </form>
</div>
