<p-toast></p-toast>



<div class="grid p-fluid" *ngIf="!reload">
    <div class="p-2">
        <div class="flex items-center mt-3">
            <div class="justify-content-start mr-5">
                <button routerLink="/distributor" pButton pRipple type="button" icon="pi pi-arrow-left"
                        class="p-button-rounded p-button-outlined p-button-secondary"></button>
            </div>
            <h3 class="my-3 text-xl font-bold ">Delivery details</h3>
        </div>

        <div class="flex flex-col sm:flex-row justify-between items-start">
            <!-- SHIPPING DESCRIPTION -->
            <div class="sm:w-2/3 mb-2">
                <p class="text-xl font-bold my-2">{{ delivery!.package.name }}</p>
                <p class="py-1"><strong>Description: </strong> {{ delivery!.package.description }}</p>
                <p class="py-1"><strong>Value: </strong> $ {{ delivery!.package.value }}</p>
                <p class="py-1"><strong>Size: </strong> {{ delivery!.package.dimensions }}</p>
            </div>
            <!-- SHIPPING TRACKING -->
            <div class="sm:w-1/3 mb-2">
                <p class="text-xl font-bold my-2">Tracking</p>
                <ng-template [ngIf]="!deliveryCompleted!">
                    <div class="p-card-content">

                        <div class="flex flex-col sm:flex-row justify-between items-start">
                            <div class="sm:w-2/3 mb-2 p-2">
                                <p class="py-1"><strong>Shipping state:</strong>
                                    <p-chip styleClass="ml-1"
                                            label="{{ deliveryState!.childActivityInstances![0].activityName }}">
                                    </p-chip>
                                </p>

                                <p class="py-1"><strong>Activity ID:</strong>
                                    <u class="ml-2">{{ deliveryState!.childActivityInstances![0].activityId }}</u>
                                </p>

                            </div>
                            <div class="sm:w-1/3 mb-2 p-2">

                                <ng-template
                                        [ngIf]="deliveryState!.childActivityInstances![0].activityId! == 'AwaitingPickupTask'">
                                    <div class="flex">
                                        <button (click)="onClickPkgInTransit(delivery!.id!)"
                                                pButton pRipple type="button" label="Package in transit"
                                                class="p-button p-button-sm p-button-rounded p-button-success w-4"></button>
                                    </div>
                                </ng-template>
                                <ng-template
                                        [ngIf]="deliveryState!.childActivityInstances![0].activityId! == 'AwaitArrivalTask'">
                                    <div class="flex">
                                        <button (click)="onClickPkgDelivered(delivery!.id!)"
                                                pButton pRipple type="button" label="Package delivered"
                                                class="p-button p-button-sm p-button-rounded p-button-success w-4"></button>
                                    </div>
                                </ng-template>
                            </div>
                        </div>


                    </div>
                </ng-template>
                <ng-template [ngIf]="deliveryCompleted!">
                    <div class="p-card-content">
                        <p class="py-1">Shipping state:
                            <p-chip styleClass="ml-2"
                                    label="Completed"></p-chip>
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row justify-between items-start">

            <!-- SHIPPING ORIGIN -->
            <div class="sm:w-1/3 mb-2">
                <h4 class="text-xl font-bold my-2">Origin</h4>
                <p class="py-1"><strong>From:</strong>
                    <p-chip label="{{delivery!.originAddress}}"></p-chip>
                </p>
                <p class="py-1"><strong>Sender:</strong>
                    {{ delivery!.sender!.firstName }} {{ delivery!.sender!.lastName }}</p>
                <p class="my-2"><strong>Mobile: </strong>{{ delivery!.sender!.phone }}</p>
                <p class="my-2"><strong>Username: </strong>{{ delivery!.sender!.username }}</p>
            </div>

            <!-- SHIPPING DESTINATION -->
            <div class="sm:w-1/3 mb-2">
                <h4 class="text-xl font-bold my-2">Destination</h4>
                <p class="py-1"><strong>To:</strong>
                    <p-chip label="{{delivery!.destinationAddress}}"></p-chip>
                </p>
                <p class="py-1"><strong>Recipient:</strong>
                    {{ delivery!.recipient!.firstName }} {{ delivery!.recipient!.lastName }}</p>
            </div>

            <!-- SELECTED OFFER -->
            <div class="sm:w-1/3 mb-2">
                <ng-template [ngIf]="delivery!.selectedOfferId">
                    <h4 class="text-xl font-bold">Your offer</h4>
                    <div class="p-card-content">
                        <p class="py-1"><strong>Shipping cost:</strong> ${{ selectedOffer!.shippingCost }}</p>
                        <p class="py-1"><strong>ETA:</strong> {{ selectedOffer!.duration }} hours</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>